<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% comment %} {% load static %} {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle Mate</title>
    {% comment %} {% load static %} {% endcomment %}
    <link rel = "icon" type="image" href="{%static "Images/favicon.ico" %}"> 
    {% comment %} {% load static %} {% endcomment %}
    <link rel="stylesheet" href = "{% static 'css/index.css' %}">
    <link rel="stylesheet" href = "{% static 'css/Lower.css' %}">
    <!-- <link rel="stylesheet" href = "{{STATIC_URL}} css/index.css"> -->
</head>
<body>
    <header>
        <nav id = "navbar">
            <div class = "logo"><a href = "#home">Recycle  Mate</a></div>
            <div id ="Main-list">
                <ul>
                    <li><a class = "nav_link" href = "#home">Home</a></li>
                    <li><a class = "nav_link" href = "#intro">About Us</a></li>
                    <li><a class = "nav_link" href = "/predict">Scan</a></li>
                    <li><a class = "nav_link" href = "/resources">Resources</a></li>
                    
                    <li><a class = "nav_link" href = "#contact">Contact Us</a></li>
                    {% if user.is_superuser %}
                    <li><a class = "nav_link" href = "/userstats">Users</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id = "Acc">
                {% comment %} <a id = "Login" href = "/login" type="Login">Log in</a> {% endcomment %}
                <!-- <button class = "Sign" type="Sign up">Sign Up</button> -->
                {% if user.is_authenticated %}
                <a href="/profile" class="Login btn btn-outline-primary me-2">Hi, {{ user.username }}</a>
                  <a href="/logout" class="Login btn btn-outline-primary me-2">Logout</a>
                {% else %}
                <div class="col-md-3 text-end">
                  <a href="/login" class="Login btn btn-outline-primary me-2">Login</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    {% comment %} <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <h1>Recycle Mate</h1>
            <h2>Sign in</h2>
             <!-- <h3>Don't have an account?<a href = "/Signup" id = "Signup">SignUp</a></h3>  -->
            <h3>Don't have an account?<a href = "#" id = "Signup">SignUp</a></h3>
            <!-- <label for = "email">Enter your Email: </label> -->
            <form action = ""> 
            <input class = "email" type = "email" id = "email" name="email" placeholder="Email">
            <input class = "email" type="password" id = "password" name="password" placeholder="Password">
            <button class = "Submit" type="Submit">Submit</button>
            </form>
        </div>
    </div>  {% endcomment %}

    {% comment %} <div class="bg-modal1">
        <div class="modal-content1">
            <!-- <div class="close">+</div> -->
            <h1>Recycle Mate</h1>
            <h2>Sign Up</h2>
            <!-- <h3>Don't have an account?<a href = "#login" class = "login1" id ="Login">Log in</a></h3> -->
            <h3>Don't have an account?</h3><button id = "Login" href = "#" type="Login">Log in</button>
            <!-- <label for = "email">Enter your Email: </label> -->
            <form action = "">
            <input class ="email" type="name" placeholder="Name">
            <input class = "email" type = "email"  name="email" placeholder="Email">
            <input class = "email" type="password" name="password" placeholder="Password">
            <button class = "Submit" type="Submit">Submit</button>
            </form>
        </div>
    </div>  {% endcomment %}
    <!-- <div class="log">
        <img src = "{%static "Images/bg1.jpg" %}" alt="logo" class="log"/>
    </div> -->
    <section aria-label="Newest Photo" id="home">
        <div class="carousel"data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8678;</button>
            <button class="carousel-button next" data-carousel-button="next">&#8680;</button>
            <ul data-slides>
                <li class = "slide" data-active>
                    <img src = "{%static "Images/bg1.jpg" %}" alt="bg1">
                </li>
                <li class = "slide">
                    <img src = "{%static "Images/forest.jpg" %}" alt="bg2">
                </li>
                <li class = "slide">
                    <img src = "{%static "Images/glass.jpg" %}" alt="bg3">
                </li>
                <li class = "slide">
                    <img src = "{%static "Images/12.png" %}" alt="bg4">
                </li>
                <li class = "slide">
                    <img src = "{%static "Images/handb.jpg" %}" alt="bg5">
                </li>
                <li class = "slide">
                    <img src = "{%static "Images/scene (2).jpg" %}" alt="bg6">
                </li>
            </ul>
        </div>
    </section>
    <!-- <section id = "home2">
        <div class ="rolling">
            <h1>Recycle Your</h1>
            <div class="inside">
                <marquee class = "moveup" direction = "up">Lets roll</marquee>
                <marquee class = "moveup" direction = "up">Lets roll1</marquee>
                <marquee class = "moveup" direction = "up">Lets roll2</marquee>
            </div>
        </div>
        <div class="steps">
            kgljsdfk
            <div>step1</div>
            <div>step2</div>
            <div>step3</div>
        </div>
    </section> -->
    <section id = "intro" class = "hidden">
        <div class = intro1>
            <h1>What we do</h1>
        </div>
        <div class="mbody">
            <div class="msg1">
                <div class="empty1"></div>
                <div class="thing1 center1">
                    <h3>We take care of your recyclable items</h3>
                    <p>Forget about the tedious task which makes you to think about the waste or items which can be reusable as they are 
                        somewhere lying around in the workplace or in the house.
                    </p>
                    <h4 class = "q1">"Recycle It all , No Matter How small!"</h4>
                </div>
                <div class="thing2 uni">
                    <img src = "{%static "Images/bin.jpg" %}" alt="bin">
                </div>
                <div class="empty2"></div>
            </div>
            <div class="msg1">
                <div class="empty1"></div>
                <div class="thing1 uni uni3">
                    <img src = "{%static "Images/bottle.jpeg" %}" alt="bottle">
                </div>
                <div class="thing2 rside center1">
                    <h3>We help you maintain your history</h3>
                    <p>This will turn out to be the one of the best things and useful to all of us 
                        .Regarding which items you have already looked.
                    </p>
                    <h4 class = "q1">"When you put the whole picture together. Recycling is the right thing to do."</h4>
                        <h2>- Pam Shoemaker</h2>
                </div>
                <div class="empty2"></div>
            </div>
            <div class="msg1">
                <div class="empty1"></div>
                <div class="thing1">
                    <h3>Keeping Space Tidy</h3>
                    <p>
                    </p>
                    <h4 class = "q1">"If you care about the environment and how it will affect mankind, then recycling shouldn't 
                        take a second thought"</h4>
                        <h2>- Jeffery Sanderson</h2>
                    <h3>Contributing to make our world a better place</h3>
                    <p>
                    </p>
                    <h4 class = "q1">"If you're not buying recycled products, you're not really rcycling"</h4>
                        <h2>- Ed Begley, Jr.</h2>
                </div>
                <div class="thing2 uni uni1">
                    <img src = "{%static "Images/greenbin.jpg" %}" alt="recycle">
                </div>
                <div class="empty2"></div>
            </div>
        </div>
    </section>
    {% comment %} <section id = "Scan" class = "mbody , hidden">
        <div class="left">
            <h1>GET YOUR ITEMS SCANNED IN SECONDS.</h1>
            <form method="POST" action="/predict" enctype="multipart/form-data">
                {% csrf_token %}
                <input class = "filename" type="file" id="myFile" name="uploadedImage"/>
                <button class = "Submit" type="submit">Upload Image</button>
              </form>
        </div>
        <div class="right">
            <model-viewer src="{% static "Images/trash.glb" %}" camera-controls auto-rotate disable-zoom></model-viewer>
        </div>
    </section> {% endcomment %}

    <section id = "contact" class = "hidden" >
        <div class="cont">
            <h1>Looking to talk!</h1> 
        <div class="mainlast">
            <form method="POST" action="/feedback">
                {% csrf_token %}
                <input class = "emai" type = "emai" name="name" placeholder="Name">
                <input class = "emai" type = "emai" name="email" placeholder="Email">
                <textarea class="text" name="message" placeholder="Write something" style="width: 500px; height: 166px;"></textarea>
                <button class = "Send" type="submit">Send</button>
            </form>
            <div class="img2">
                <img src = "{%static "Images/5751.jpg" %}" alt="contact">
            </div>
        </div>
        </div>
    </section>
    <footer class="foot">
        All rights reserved! 2023
    </footer>
    {% load static %}
    <script type = "text/javascript" src ="{% static 'js/index.js' %}"></script>
    <script type = "text/javascript" src ="{% static 'js/car.js' %}"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
</body>
</html>