[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tensorflow = "==2.15.0"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
